<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Data</title>
</head>
<body>
    <h1>Data Form</h1>

    <form action="/process" method="POST">
        <h3>Add New Row</h3>
        {% for header in headers %}
        <label>{{ header }}: </label>
            {% if header == 'DATE' %}
                <input type="date" name="{{ header }}"><br><br>
            {% else %}
                <input type="text" name="{{ header }}" value="0"><br><br>
            {% endif %}
        {% endfor %}
        <button type="submit">Add Row</button>
    </form>

    <script>
        const today = new Date().toISOString();
        document.querySelector('input[type="date"]').value = today;
    </script>

    <h3>Current Data</h3>
    <table border="1">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Aggregation</h3>
    <p>{{ aggregation_result }}</p>

    <h3>Download Processed File</h3>
    <a href="/download"><button>Download</button></a>
</body>
</html>
